USE [master]
GO
/****** Object:  Database [OkulSistemi]    Script Date: 4.09.2025 17:55:11 ******/
CREATE DATABASE [OkulSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OkulSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OkulSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OkulSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OkulSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OkulSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OkulSistemi]
GO
/****** Object:  Table [dbo].[Tbl_Dersler]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Dersler](
	[dersID] [tinyint] IDENTITY(1,1) NOT NULL,
	[dersAd] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Dersler] PRIMARY KEY CLUSTERED 
(
	[dersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kulupler]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kulupler](
	[kulupID] [tinyint] IDENTITY(1,1) NOT NULL,
	[kulupAd] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Kulupler] PRIMARY KEY CLUSTERED 
(
	[kulupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Notlar]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Notlar](
	[notID] [int] IDENTITY(1,1) NOT NULL,
	[dersID] [tinyint] NULL,
	[ogrID] [int] NULL,
	[sinav1] [smallint] NULL,
	[sinav2] [smallint] NULL,
	[sinav3] [smallint] NULL,
	[proje] [smallint] NULL,
	[ortalama] [decimal](5, 2) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Tbl_Notlar] PRIMARY KEY CLUSTERED 
(
	[notID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ogrenciler]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ogrenciler](
	[ogrID] [int] IDENTITY(1,1) NOT NULL,
	[ogrAd] [varchar](30) NULL,
	[ogrSoyad] [varchar](30) NULL,
	[ogrKulup] [tinyint] NULL,
	[ogrCinsiyet] [varchar](5) NULL,
 CONSTRAINT [PK_Tbl_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[ogrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ogretmenler]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ogretmenler](
	[ogrtID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ogrtBrans] [tinyint] NULL,
	[ogrtAdSoyad] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Ogretmenler] PRIMARY KEY CLUSTERED 
(
	[ogrtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Notlar_Tbl_Dersler] FOREIGN KEY([dersID])
REFERENCES [dbo].[Tbl_Dersler] ([dersID])
GO
ALTER TABLE [dbo].[Tbl_Notlar] CHECK CONSTRAINT [FK_Tbl_Notlar_Tbl_Dersler]
GO
ALTER TABLE [dbo].[Tbl_Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler] FOREIGN KEY([ogrID])
REFERENCES [dbo].[Tbl_Ogrenciler] ([ogrID])
GO
ALTER TABLE [dbo].[Tbl_Notlar] CHECK CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler]
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler] FOREIGN KEY([ogrKulup])
REFERENCES [dbo].[Tbl_Kulupler] ([kulupID])
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler] CHECK CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler]
GO
ALTER TABLE [dbo].[Tbl_Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogretmenler_Tbl_Dersler] FOREIGN KEY([ogrtBrans])
REFERENCES [dbo].[Tbl_Dersler] ([dersID])
GO
ALTER TABLE [dbo].[Tbl_Ogretmenler] CHECK CONSTRAINT [FK_Tbl_Ogretmenler_Tbl_Dersler]
GO
/****** Object:  StoredProcedure [dbo].[fonksiyon]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create proc fonksiyon
--as
--select * from Tbl_Notlar where dersID=1 and ogrID=2

--exec fonksiyon

--create proc deneme
--as
--select * from Tbl_Notlar where dersID=1 

--drop proc deneme

CREATE proc [dbo].[fonksiyon]
as
select * from Tbl_Notlar where dersID=1 and ogrID=1
GO
/****** Object:  StoredProcedure [dbo].[parametreliProc]    Script Date: 4.09.2025 17:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create proc fonksiyon
--as
--select * from Tbl_Notlar where dersID=1 and ogrID=2

--  

--create proc deneme
--as
--select * from Tbl_Notlar where dersID=1 

--drop proc deneme

--alter proc [dbo].[fonksiyon]
--as
--select * from Tbl_Notlar where dersID=1 and ogrID=1

create proc [dbo].[parametreliProc]
@ogrenci varchar(50)
as 
select * from Tbl_Ogrenciler where ogrAd+' '+ogrSoyad=@ogrenci
GO
USE [master]
GO
